@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: black;
  color: whitesmoke;
}

input {
  background-color: #000000;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.5em;

  &:hover, &:focus {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 16px, rgba(255, 255, 255, 0.1) 0px 8px 32px;
  }
}

.btn {
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 0.5em;
  background-color: #212121;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 4px 16px, rgba(255, 255, 255, 0.1) 0px 8px 32px;
  }
  &:active {
    background-color: #444444;
  }
}
